/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

// html, body
//   height: 100%

body
  margin: 0

  background: url('crescentsaturn_cassini_big.jpg') no-repeat center center fixed
  // webkit-background-size: cover
  // moz-background-size: cover
  // o-background-size: cover
  background-size: cover

  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif
  opacity: 1
  padding-bottom: 70px

footer
  background-color: #222
  border-color: #090909
  color: #777777
  opacity: 0.7

// row
//   background-color: white !important
//   opacity: 0.5 !important

.jumbotron
  background-color: #111
  color:  #CCC

.jumbo
  background-color: #111
  color: #CCC

.jumbo-header
  color: #111

.subheader
  color: #888

.col-md-4
  margin: 1px
  width: 32.333333%
  background-color: #111
  color: #CCC

.navbar
  min-height: 0px

.panel-primary.user-panel-primary
  background-color: #111
  color: #CCC
  border-color: #DDD


.panel-heading.user-panel-heading
  background-color: #111
  color: #CCC
  border-color: #DDD
  margin-left: auto
  margin-right: auto

.panel-heading.user-pro-panel-heading
  background-color: #111
  color: #CCC
  width: 440px
  border: 1px solid #DDD
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  margin-top: 30px

.list-group-item
  background-color: #111
  color: #CCC
  border: none
  border-bottom: medium dotted #222

.user-article
  background-color: #111
  color: #CCC

.comment-list-art
  background-color: #111
  color: #CCC
  padding: 10px

.ELI-panel
  width: 440px
  margin-left: auto
  margin-right: auto

.user-del
  margin: 2px

.user-cancel
  margin-top: 5px

.user-create-art
  margin-bottom: 5px

.btn-view-main
  margin: 10px

.user-list
  width: 400px

.art-body
  width: 49%
  float: left
  background-color: #111
  color: #CCC
  opacity: 1
  z-index: 2

.art-annotation
  width: 49%
  float: right
  background-color: #111
  color: #CCC
  opacity: 1


.art-details
  margin-left: 50px
  margin-right: 50px
  background-color: #111
  color: #CCC

.body-ann-cont
  margin-left: 50px
  margin-right: 50px
  overflow: auto
  background-color: transparent
  color: #CCC
  opacity: 1

.comment-sec
  width: 49%
  margin-top: 5px
  background-color: #111
  color: #CCC

.improv-sec
  width: 85%
  margin-top: 10px
  background-color: #111
  color: #CCC
  margin-left: auto
  margin-right: auto

.comment-form
  margin: -10px
  background-color: #111
  color: #CCC

.comment-date
  font-size: 10px

.comment-list
  padding: 10px
  background-color: #111
  color: #CCC

.art-sec
  display: inline
  background-color: #111
  color: #CCC

.comment-user
  color: #888
  margin: -5px -10px -10px -10px

.comment-date
  color: #444
  margin: -10px

h5
  margin-left: -8px
  border-bottom: 1px solid gray
  margin-right: 10px
