/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

// html, body
//   height: 100%

body
  margin: 0

  background: asset-url('crescentsaturn_cassini_big.jpg') no-repeat center center fixed
  // webkit-background-size: cover
  // moz-background-size: cover
  // o-background-size: cover
  background-size: cover

  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif
  opacity: 1
  padding-bottom: 70px

footer
  background-color: #555
  border-color: #090909
  color: #111
  opacity: 0.9

// row
//   background-color: white !important
//   opacity: 0.5 !important

.art-details
  background-image: no-repeat center center fixed

.navbar-brand
  margin-top: -13px

.navbar-fixed-bottom
  margin-bottom: -10px

.header-sign-out
  text-align: right

.footer-name
  margin-left: 10px
  font-weight: bold


.jumbotron
  background-color: #111
  color:  #CCC

.jumbo
  background-color: #111
  color: #CCC

.jumbo-header
  color: #111

.subheader
  color: #888

.form-signin
  margin-left: auto
  margin-right: auto
  width: 300px

.well
  border: 1px solid #808080

.col-md-4
  margin: 5px
  width: 31.333333%
  background-color: #111
  color: #CCC
  border-radius: 5px
  border: 1px solid #808080

.index-title
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.index-body
  display: -webkit-box
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

.navbar
  min-height: 0px

.panel-primary.user-panel-primary
  background-color: #111
  color: #CCC
  border-color: #808080


.panel-heading.user-panel-heading
  background-color: #111
  color: #CCC
  border-color: #808080
  margin-left: auto
  margin-right: auto

.panel-heading.user-pro-panel-heading
  background-color: #111
  color: #CCC
  width: 440px
  border: 1px solid #808080
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  margin-top: 30px

.create-login-cont
  margin-left: auto
  margin-right: auto
  width: 300px

.guest-button
  margin-left: 175px
  margin-top: -34px

.acct-errors
  background-color: white
  color: black
  border: 1px solid #808080
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  width: 190px
  height: 22px
  margin-top: 8px
  text-align: center



.list-group-item
  background-color: #111
  color: #CCC
  border: none
  border-bottom: medium dotted #222

.comment-count
  font-weight: bold
  color: #666

.user-article
  background-color: #111
  color: #CCC

.comment-list-art
  background-color: #111
  color: #CCC
  padding: 10px

.ELI-panel
  width: 440px
  margin-left: auto
  margin-right: auto

.user-del
  margin: 2px

.user-cancel
  margin-top: -52px
  margin-left: 306px

.user-create-art
  margin-bottom: 5px

.btn-view-main
  margin: 10px

.user-list
  width: 400px

.errlogin
  padding-bottom: 6px

.art-body
  width: 49%
  float: left
  background-color: #111
  color: #CCC
  opacity: 1
  z-index: 2
  font-size: 14px

.art-annotation
  width: 49%
  float: right
  background-color: #111
  color: #CCC
  opacity: 1
  left: 20px


.art-details
  margin-left: 50px
  margin-right: 50px
  background-color: #111
  color: #CCC

.body-ann-cont
  margin-left: 50px
  margin-right: 50px
  overflow: auto
  background-color: transparent
  color: #CCC
  opacity: 1

.comment-sec
  width: 49%
  margin-top: 5px
  background-color: #111
  color: #CCC
  padding: 35px

.improv-sec
  width: 85%
  margin-top: 10px
  background-color: #111
  color: #CCC
  border: none

.comment-form
  margin: -10px
  background-color: #111
  color: #CCC

.comment-date
  font-size: 10px

.comment-list
  padding: 10px
  background-color: #111
  color: #CCC

.art-sec
  display: inline
  background-color: #111
  color: #CCC

.comment-user
  color: #888
  margin: -5px -10px -10px -10px

.comment-date
  color: #444
  margin: -10px

h5
  margin-left: -8px
  border-bottom: 1px solid #808080
  margin-right: 10px


.example-enter
  opacity: 0.01

.example-enter.example-enter-active
  opacity: 1
  transition: opacity 500ms ease-in

.example-leave
  opacity: 1

.example-leave.example-leave-active
  opacity: 0.01
  transition: opacity 300ms ease-in

.headShake
  margin-right: 5px

.ann-link
  background-color: #222
